---
layout: default
---
<style>
  .pic {
    shape-outside: square(50%);
  }
</style>
<div class="max-w-2xl mt-12">
  <div class="grid text-md mt-10 px-4 mb-5 font-source gap-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
    {% for post in site.posts %}
        {% if post.type == "artifact" %}
            <a href="{{post.link}}">
                <div class="flex overflow-hidden rounded-lg justify-center items-center text-white w-full h-auto">
                    <img src="{{post.image}}" class="blur-sm saturate-0 object-none brightness-50 hover:brightness-90 text-white hover:saturate-100 transition ease-out duration-300"/>
                    <h1 class="absolute" >{{post.title}}</h1>
                </div>
            </a>
        {% endif %}
    {% endfor %}
  </div>
</div>