---
layout: default
---
<style>
  .pic {
    shape-outside: square(50%);
  }
</style>
<div class="max-w-2xl mt-12">
  <!-- perfil -->
  <div class="flex items-center text-center justify-center md:block pic md:float-left md:mx-5 flex-col">
    <div>
      <img src="assets/Gena.jpeg" id="logo" class="w-60 md:w-64 md rounded-full mt-10 md:rounded-lg" alt="Me" />
    </div>
    <span class="font-thin text-sm mt-2"> </span>
  </div>
  <!-- conteudo -->
  <div class=" text-md mt-10 px-4 mb-5 font-source space-y-4">
    {% for page in site.pages %}
      {% if page.layout == "home" %}
      {{page.content}}
      {%endif%}
    {% endfor %}
    {% for page in site.pages %}
      {% if page.layout == "categoria" %}
      <h1 id="{{page.id}}" class="cursor-pointer collapsable hover:bg-gray-300"
        type="button"
        data-te-collapse-init
        data-te-ripple-init
        data-te-ripple-color="light"
        data-te-target="#p-{{page.id}}"
        aria-expanded="false"
        aria-controls="p-{{page.id}}">
        {{page.title}} <icon class="fa-regular fa-plus"></icon>
      </h1>
      <div class="!visible hidden" data-te-collapse-item id="p-{{page.id}}">
        {{page.content}}
      </div>
      {%endif%}
    {% endfor %}
  </div>
</div>
