---
layout: default
---
<style>
  .pic {
    shape-outside: square(50%);
  }
</style>
<div class="max-w-2xl mt-12">
  <!-- perfil -->
  <div class="flex items-center text-center justify-center md:block pic md:float-left md:mx-5 flex-col">
    <div>
      <img src="assets/Gena4.jpg" id="logo" class="w-60 md:w-64 md rounded-full mt-10 md:rounded-lg" alt="Me" />
    </div>
    <span class="font-thin text-sm mt-2">Genaina Nunes</span>
  </div>
  <!-- conteudo -->
  <div class=" text-md mt-10 px-4 mb-5 font-source space-y-4">
    {{content}}
  </div>
</div>